<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.mapper.SysBasicUserMapper">

    <resultMap id="BaseResultMap" type="com.basic.domain.entity.SysBasicUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="profile" column="profile" jdbcType="VARCHAR"/>
        <result property="picture" column="picture" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="emailVerified" column="email_verified" jdbcType="TINYINT"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="birthdate" column="birthdate" jdbcType="DATE"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="phoneNumberVerified" column="phone_number_verified" jdbcType="TINYINT"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="accountPlatform" column="account_platform" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="updateName" column="update_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,username,nickname,
        profile,picture,email,
        email_verified,gender,password,
        birthdate,phone_number,phone_number_verified,
        address,deleted,account_platform,
        create_by,update_by,create_name,
        update_name,create_time,update_time
    </sql>
</mapper>
